body{
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Creepster', cursive;
}
h1{
  margin: 0;
  font-size: 7.4rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 2rem;
}
ul{
  font-size: 2rem;
}
input, button{
  font-size: 1.3rem;
  font-weight: bold;
}
